*{
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.event {
    margin: 0;
    background-image: url("../images/classroom.jpeg") ;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    display: flex; 
    flex-direction: column;
   align-items: center; 
   justify-content:space-around; 
   text-align: center; 
   padding: 0;
   max-width: 100%;
   height: 100%; 
}

.event h1{
    color: white;
    font-size: 5rem;
}
.event h2{
    color: white;
    font-size: 3rem;
    margin-top: 0;
}

.event .q{
    background-color:transparent;
    border-color:transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 25%;
    margin-top: 10px;
    animation: scale 3s linear infinite;

}

.event .btn:hover{
    background-color:#000000;
    background: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    height:auto;
    border-color: black;
    border-style: inset;
    border-radius: 20px;
}


label{
    padding: 5px; font-size: 2.5rem;
}

.modal{
    color:#ffffff ;
}

.modal-body h3 a{
  color:white
}

.modal-body{
    background-color: black;
}

.modal-header{
    background-color: black;
}
.modal-body .btn-light{
    font-size: 3rem;
}
.modal-body .btn-danger{
    font-size: 2.5rem;
}

.l{
    height:80px;
    width: auto;
}

.modal-body .modi{
    width:90%;
}

.modal-body .btn-warning{
    font-size: 3rem;
    color:black;
 }
 
 .modal-body .btn-primary{
     font-size: 3rem;
 }

.modal-body .hint{
    background-color: rgb(216, 81, 81);
    color: seashell;
    font-size: 2.5rem;
    padding: 4%;
    margin-bottom: 6%;
}

.modal-body .hinta{
    background-color: rgb(216, 81, 81);
    color: seashell;
    font-size: 2.5rem;
    padding: 2%;
    margin-bottom: 6%;
    margin-top: 5%;
}
  
 @keyframes scale {
    50% {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
  }
